/**********configuration**********/

.annonces
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: auto;
	padding: 1%;
	border-radius: 5px;
	background-color: #333;
}

.content
{
	flex: 30;
	display: block;
	border-radius: 5px;
	background-color: #aaa;

}

.cards_container .card
{
  /* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
 	transition: 0.3s;
 	background-color: #353535;
 	cursor: pointer;
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
	height: 100%;
}

.container .foldTxt
{
	color: transparent;
	transition: 0.3s;
	font-size: 25px;
}

.card img {
  	border-radius: 5px 5px 0 0;
}

.cards_container .card #fold
{
	opacity: 0.6;
}

.cards_container
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 20px;
	justify-content: center;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: auto;
	padding: 1%;
	border-radius: 5px;
}

#fold
{
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	height: 70%;
}

/**********annimation**********/

.container:hover .foldTxt
{
	color: #eee;
	/*background-color: #a8a8a8;*/
	opacity: 1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: #454545;
}