/**********configuration**********/

.container
{
	justify-content: center;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: auto;
	padding: 1%;
	/*margin-bottom: 10%;*/
	border-radius: 5px;
}

.container img
{
	display: block;
	margin: auto auto;
	max-height: 700px;
	max-width: 100%;
	justify-content: center;
	width: auto;
}

.container .linked
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	border-radius: 5px;
}

.container .linked img
{
	height: 100px;
	width: auto;
	padding: 8px 4px;
 	cursor: pointer;
 	margin: 0 0;
}

.container .info
{
	padding: 2px 16px;
	background: #353535;
	border-radius: 5px;
	margin: 8px;
}